<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/font-awesome/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include public/header.ejs %>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div class="container-fluid c-row">
      <div class="row">
        <div class="col-xs-8">
          <ul class="list-1">
            <li class="">
                <p><a href=""><img class="img" src="http://demo.awethemes.com/thefamly/wp-content/uploads/2015/06/42.jpg"></a></p>
                <h2 class="title">欢迎来到我的博客！</h2>
                <div class="info"><a href="">栏目</a><span><i class="fa fa-clock-o"></i>2016-01-03</span><span><a><i class="icon-comment"></i>12</a></span></div>
                <div class="desc">
                  <p>这是一个关于我的博客，技术/生活都有涉及，欢迎大家常来光顾。</p>
                  <p class="text-right"><a href="">查看全文</a></p>
                </div>
            </li>
          </ul>
        </div>
        <div class="col-xs-4">
          <div class="panel">
            <div class="panel-heading">最近更新</div>
            <div class="panel-body">
              <ul class="list-2">
                <li class="clearfix">
                    <div class="col-md-8">
                      <h4><a href="">今天去哪学习前端？</a></h4>
                      <p><a href=""><span><i class="fa fa-comment"></i>20</span></a></p>
                    </div>
                    <div class="col-md-4">
                      <img class="img" src="http://demo.awethemes.com/thefamly/wp-content/uploads/2015/06/42.jpg">
                    </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
    </script>
  </body>
</html>
