body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#F2F2F2;
}

a {
  color: #00B7FF;
}
.c-header .container-fluid{
  max-width:1200px;
  margin: 0 auto;
}
.c-row{
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

.list-1{
	background-color:#FFF;
	padding:36px 30px;
}
.list-1 .img,.list-2 .img{
	width:100%;
	display: block;
}
